<div class="row">
    <div class="col-12">
        <div class="block">
            <a class="btn btn-primary action-btn" id="add_product" type="button" href="products/add">Agregar producto</a>
        </div>
    </div>
</div>