<!--SIDEBAR NAV-->
<nav id="sidebar">
    <!--Can have a header but naaah-->
    <!--Menu items-->
    <span class="heading">Menu</span>
    <ul class="list-unstyled">
        <li>
            <a href="/">
                <i class="icon-home"></i>Inicio
            </a>
        </li>
        <li>
            <a href="#cuentasCbo" aria-expanded="false" data-toggle="collapse">
                <i class="icon-windows"></i>Cuentas
            </a>
            <ul id="cuentasCbo" class="collapse list-unstyled">
                <li><a href="/accounts/add"><i class="fa fa-plus"></i>Añadir</a></li>
                {{!-- <li><a href="#"><i class="icon-contract"></i>Cuenta X</a></li>
                <li><a href="#"><i class="icon-contract"></i>Cuenta Y</a></li>
                <li><a href="#"><i class="icon-contract"></i>Cuenta Z</a></li> --}}
            </ul>
        </li>
        <li>
            <a href="/products">
                <i class="icon-padnote"></i>Inventario
            </a>
        </li>
        <li>
            <a href="/ventas">
                <i class="fa fa-qrcode"></i>Ventas
            </a>
        </li>
        <li>
            <a href="#userscbo" aria-expanded="false" data-toggle="collapse">
                <i class="fa fa-user"></i>Usuarios
            </a>
            <ul id="userscbo" class="collapse list-unstyled">
                <li>
                    <a href="users/singup">
                        <i class="fa fa-plus"></i>Añadir
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>